<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Wide World Travel</title>
	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="/lib/bower_components/materialize/dist/css/materialize.css">
</head>
<body ng-app="TravelGuides">

<div ng-controller="bookCtrl">
<h1 class="center-align">Guides!</h1>

<div class="container">
	<div class="row">
		<input class="col l4 m6 s12 offset-l4 offset-m3" type="text" placeholder="filter by" ng-model="query">
	</div>
	<div class="row">
		<div class="col l4 m6 s12" ng-repeat="book in books | filter:query">
			<h5>{{book.title}}</h5>
			<p>{{book.type}}</p>
			<p>${{book.price}}</p>
		</div>
	</div>
</div>
</div>

<script src="lib/bower_components/angular/angular.js"></script>
<script src="lib/bower_components/angular-route/angular-route.js"></script>
<script src="/lib/bower_components/jquery/dist/jquery.js"></script>
<script src="/lib/bower_components/materialize/dist/js/materialize.js"></script>
<script src="app/app.js"></script>
<script src="app/config.js"></script>
<script src="app/controllers/bookCtrl.js"></script>
</body>
</html>
